<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-img src="assets/img/s-works-logo (copy).png"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- List of Text Items -->
<!-- List of Text Items -->
<ion-content fullscreen>
  <ion-list-header >Profile Photo</ion-list-header>

  <ion-item>
      <ion-img src="./avatar-finn.png" ></ion-img>
    
  </ion-item>
  <ion-item>
    <ion-list-header>User Name</ion-list-header>
    <h2>{{user.firstname}}</h2>

    <h2>{{user.lastname}}</h2>
  </ion-item>

  <ion-item>
    <ion-list-header>Phone Number</ion-list-header>
    <h2>{{user.phone}}</h2>
  </ion-item>  <ion-item>
    <ion-list-header>Your Service</ion-list-header>
    <h2>{{ServiceName}}</h2>
  </ion-item>  <ion-item>
    <ion-list-header>Your Location</ion-list-header>
    <h2>{{user.location}}</h2>
  </ion-item>  <ion-item>
    <ion-list-header>Reference Number</ion-list-header>
    <h3>{{user.rephone}}</h3>
  </ion-item>
  <ion-item>
    <ion-list-header>Your Email</ion-list-header>
    <h3>{{user.email}}</h3>
  </ion-item>




</ion-content>


<section class="form__footer mt-0 mb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-6 border__right">
        <div class="left__btn">
          <a (click)="signOut()"><i class="fas fa-home"></i>LogOut</a>
        </div>
      </div>
      <!-- <div class="col-md-6 col-6">
        <div class="left__btn">
          <a href="help.html" class=""><i class="fas fa-info-circle"></i> Help</a>
        </div>
      </div> -->
    </div>
  </div>
</section>
