<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Register/Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="person-add-sharp" slot="start"></ion-icon>
        <ion-label [routerLink]="['/register']"><a>Signup</a></ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="key" slot="start"></ion-icon>
        <ion-label [routerLink]="['/login']">Service-Login</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="key" slot="start"></ion-icon>
        <ion-label [routerLink]="['/shop-login']">Shop-Login</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-content>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>

        <ion-row>

          <ion-col align-self-center>
            <ion-img src="assets/img/s-works-logo (copy).png" class="log"></ion-img>
          </ion-col>
        </ion-row>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content >

    
    <ion-searchbar placeholder="Search location" name="location" [(ngModel)]="form.geo_address" #location="ngModel" #autocomplete> </ion-searchbar>



<capacitor-google-map #map></capacitor-google-map>

    
    

    <!-- <section class="banner__wraper mb-4">
      <div class="banner__overlay"></div>

      <ion-content>
      </ion-content>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-12">
             <div class="banner__content">
              <div class="form-group has-search">
                <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
                  <span class="fas fa-search form-control-feedback" style="color: #282828;"></span>
                  
                  <ion-select interface="action-sheet" style="color: #282828;" placeholder="serch for service" required
                    name="service" [(ngModel)]="form.service" #service="ngModel">
                    <ion-select-option *ngFor="let item of serviceData;let i=index" value="{{item._id}}">
                      {{item.name}}</ion-select-option>
                  </ion-select>
                  <ion-row>
                    <ion-col>
                      <ion-button type="submit">Search</ion-button>
                    </ion-col>
                  </ion-row>
                </form>
              </div>
            </div> 
          </div>
        </div>
      </div>  
    </section>  -->




    <!-- <ion-grid>
      <ion-row>
        <ion-col class="ion-align-self-center"  *ngFor="let item of serviceData;let i=index">
          <ion-card>
            <div>
              <img src="assets/img/{{item.img}}" (click)="onClick(item._id)">
            </div>
            <h2>{{item.name}}</h2>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid> -->
    <ion-scroll scrollX="true" scrollY="true">
    </ion-scroll>

    <ion-content role="feed">
      <ion-searchbar debounce="500" [(ngModel)]="search" (ionChange)="searchService()"></ion-searchbar>

      <ion-list *ngFor="let item of serviceData;let i=index">


        <ion-item (click)="onClick(item._id)">

          <ion-avatar slot="start">
            <!-- <img alt="Silhouette of a person's head" src="assets/img/{{item.img}}" /> -->
            <img alt="Silhouette of a person's head" src="assets/img/plumber.png" />
          </ion-avatar>
          <ion-label>
            <h2>{{item.name}}</h2>
          </ion-label>



        </ion-item>
      </ion-list>
    </ion-content>
  </ion-content>
</div>
</ion-content>



 <ion-footer >

  <!-- <ion-toolbar >
    <ion-title slot="start"><a href="javascript:void(0);"  [ngClass]="{'selected': selected == 1}" (click)="changeSelected(1)"><ion-icon name="git-network-sharp"></ion-icon> Services</a></ion-title>
    <ion-title slot="end"> <a href="javascript:void(0);" [ngClass]="{'selected': selected == 2}" (click)="changeSelected(2)"><ion-icon name="card-sharp"></ion-icon> Shops</a></ion-title>
  </ion-toolbar>  -->

   <section class="form__footer mt-0 mb-0">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-6 border__right">
          <div class="left__btn">
            <a href="javascript:void(0);"  [ngClass]="{'selected': selected === 1}" (click)="changeSelected(1)"><ion-icon name="git-network-sharp"></ion-icon> Services</a>
          </div>
        </div>
        <div class="col-md-6 col-6">
          <div class="left__btn">
            <a href="javascript:void(0);" [ngClass]="{'selected': selected === 2}" (click)="changeSelected(2)"><ion-icon name="card-sharp"></ion-icon> Shops</a>
          </div>
        </div>
      </div>
    </div>
  </section> 
</ion-footer>
